In [ ]:
#Program znajdujący liczby pierwsze
def czy_pierwsza(n):
    if n < 2:
        return False
    for i in range(2, int(n**0.5) + 1):
        if n % i == 0:
            return False
    return True

czy_pierwsza(17)

for i in range(1,101):
    if i % 2 != 0:
        continue
    else:
     print(i)

In [ ]:
# 1 Sposób suma liczb parzystych
wynik = 0
for i in range (1,101):
    if i % 2 != 0:
        continue
    else:
     wynik+=i
    #  print(wynik)
     
# 2 Sposób suma liczb parzystych
wynik = 0
for i in range (0,101,2):
    if i % 2 == 0:
      wynik += i
      print(wynik)
    else: print("LIPA")

In [ ]:
for i in range(2,101):
    is_Prime = True
    
    for j in range(2,i):
        if i % j == 0:
         is_Prime = False
         break
    if is_Prime:
        print(i)

In [ ]:
# FUNKCJA LICZĄCA POLE PROSTOKĄTA 
def pole_prostokata(a,b):
    return a * b

a = int(input("Podaj bok a"))
b = int(input("Podaj bok b"))

wynik = pole_prostokata(a,b)

print(wynik)

In [36]:
# Jeśli imię kończy się na 'a'
imie = input("Podaj imie :] ")

if imie.endswith("a"):
    print("To kobiece imie")
else: print("To męskie imie")    


# while dopóki

name = None
while name != 'Franek':
    name = input("Podaj imie :")

To męskie imie

In [ ]:
# xMax z 3 liczb
a = int(input("Podaj 1 liczbe"))
b = int(input("Podaj 2 liczbe"))
c = int(input("Podaj 3 liczbe"))
największa = a

# 10, 20, -1

if b > największa:
    największa = b
if c > największa:
    największa = c
          
print(największa)

In [167]:
# trójkąt z gwiazdek :D
for i in range(1,6):
    for j in range(0,i):
        print("*",end="")
    print()

*
**
***
****
*****

In [166]:
# odwrócony trójkąt z gwiazdek :D
for i in range(6,0,-1):
    for j in range(0,i):
        print("*",end="")
    print()

******
*****
****
***
**
*

In [ ]:
# TABLICZKA MNOŻENIA :D
for i in range(1,11):
    for j in range(1,11):
        print(i*j,end=" ")
    print()

In [165]:
#Piramida z kolejnych liter :D
for i in range(6):
    for j in range(i+1):
        print(chr(65+i),end="")
    print()

A
BB
CCC
DDDD
EEEEE
FFFFFF

In [164]:
for i in range(10):
    for j in range(i+1):
        print(chr(97+i),end="")
    print()

a
bb
ccc
dddd
eeeee
ffffff
ggggggg
hhhhhhhh
iiiiiiiii
jjjjjjjjjj

In [ ]:
# Prostokąt z gwiazdek!
for i in range(1,6):
    for j in range(1,8):
        print(j,end=" ")
    print()

In [162]:
#Wyśrodkowana piramida z gwiazdek

for i in range (1,6):
    for j in range (5-i):
        print(" ",end="")
        
    for k in range (i):
        print(i,end=" ")  
    
    print()

    1
   2 2
  3 3 3
 4 4 4 4
5 5 5 5 5

In [132]:
for i in range(1,6):
    for j in range(5-i):
        print(" ",end="")
        
    for k in range(i):
        if i % 2 == 0:
            print(i,end=" ")
        else: print("*",end=" ")     
    print()

    *
   2 2
  * * *
 4 4 4 4
* * * * *

In [134]:
for i in range (1,6):
    for j in range (6-i):
        print(" ",end="")
        
    for k in range (i):
        print(i,end=" ")  
    
    print()

     1
    2 2
   3 3 3
  4 4 4 4
 5 5 5 5 5

In [170]:
for i in range (1,7):
    for j in range (6-i):
        print(" ",end="")
        
    for k in range (i):
        if i % 2 != 0:
            print("X",end=" ")  
        else: print ("O",end=" ")
    
    print()

     X
    O O
   X X X
  O O O O
 X X X X X
O O O O O O

In [1]:
for i in range(6,0,-1):
    for j in range(6-i):
        print(" ",end="")
    
    for k in range(i):
        print(i,end=" ")
        
    print()

6 6 6 6 6 6
 5 5 5 5 5
  4 4 4 4
   3 3 3
    2 2
     1

In [188]:
imie = "Franek"

for i in imie:
    print((i),end=" ")

F r a n e k

In [189]:
tekst = "Python"
for indeks, znak in enumerate(tekst):
    print(f"Znak na pozycji {indeks}: {znak}")

Znak na pozycji 0: P
Znak na pozycji 1: y
Znak na pozycji 2: t
Znak na pozycji 3: h
Znak na pozycji 4: o
Znak na pozycji 5: n

In [ ]:
import random

liczba =  random.randint(1,100)
wybor = None

while wybor != liczba:
    wybor = int(input("Podaj liczbę:"))
    if wybor > liczba:
        print("Za duza liczba")
    elif wybor < liczba:
        print("Za mała!")
    else:
        print("Trafiłeś!")

Za mała!
Za duza liczba
Za duza liczba
Trafiłeś!

In [259]:
#TO SĄ LISTY

names = ['Franek','Dominik','Kamil']
names.append('Dominik')

print(names)

names.extend(['Franjjek','Dominbik','Kamvil'])
names[4] = 'Franz'
print(names)
print(names[2])

for name in names:
    print(name,end=" ")
del names[1]
names.remove('Dominik')
print(names.count('Dominik'))
print(len(names))

names.sort()
print(names)

names.sort(reverse=True)
print(names)

['Franek', 'Dominik', 'Kamil', 'Dominik']
['Franek', 'Dominik', 'Kamil', 'Dominik', 'Franz', 'Dominbik', 'Kamvil']
Kamil
Franek Dominik Kamil Dominik Franz Dominbik Kamvil 0
5
['Dominbik', 'Franek', 'Franz', 'Kamil', 'Kamvil']
['Kamvil', 'Kamil', 'Franz', 'Franek', 'Dominbik']

In [233]:
#Zbiory (SET)

names = {'Kamil','Mariusz','Dominik'}
names.add('Franz')

#print(names)

# for name in names:
#     print(name)

names.update(['Tomek','Ziomek'])
print(names)

{'Tomek', 'Mariusz', 'Ziomek', 'Kamil', 'Franz', 'Dominik'}

In [245]:
names = {'Kamil','Ziomo','Franek','Paweł'}
names2 = {'Kamil','Dzban','Wardaszka','Ziomo'}

#Suma zbiorów - uniom
# print(names.union(names2))
# print(names | names2)

#Różnica zbiorów - intersection
# print(names.intersection(names2))
# print(names & names2)

#Różnica - difference
# print(names.difference(names2))
# print(names - names2)

#Symetryczna róznica - symetric difference 
# print(names.symmetric_difference(names2))
# print(names ^ names2)

#Tworzenie pustego setu
names = set()
print(type(names))

<class 'set'>

In [ ]:
phone_book = {
    'Kamil': 100200300,
    'Mariusz': 666777888,
    'Dominik': 400400400
}
# print(phone_book.get('Kamil'))
# print(phone_book['Kamil'])

# phone_book['Asia'] = 111111111
# print(phone_book)

# deleted_phone_number = phone_book.pop('Kamill','Numer nie znaleziony')
# print(deleted_phone_number)
# print(phone_book)

#klucze
print("KLUCZE")
for element in phone_book:
    print(element)

print() 
print("WARTOŚCI")   
#wartości
for element in phone_book.values():
    print(element)  
    
print() 
#Klucze i wartości
print("KLUCZE I WARTOŚCI")
for element in phone_book.items():  
    print(element)   

print() 
 
for name, phone_number in phone_book.items():
    print(name + ":" + str(phone_number))

In [ ]:
#Krotki - obiekty niemutowalne (niezmienialne)

names = ('Kamil','Mariusz','Dominik')

#ĆWICZENIE 2

In [272]:

#ZAD 1

lista = []

lista.extend([1,2,3,4,5,6,7,8,9,10])
sum_of_list = 0

for i in lista:
   # print(lista[i])
    sum_of_list +=i
    print(sum_of_list)

1
3
6
10
15
21
28
36
45
55

In [310]:
#ZAD2

lista1 = ['aaaa','bbbb','xcccccc','zzxx','eeeeeeeee']

#lista1.sort()

#print(lista1)
lista2 = []
for element in lista1:
    if len(element) > 5:
      lista2.append(element)  
      
print(lista2)

['xcccccc', 'eeeeeeeee']

In [4]:
imiona = [10,2,8,6,11,23,4]

suma = 0

for numbers in imiona:
    suma += numbers
    
print(suma)

64

In [89]:
words = ['aaa','zz','vvvvv','kkkkkk','mmmmmmmmmm']

words_more_than_5_letters = []

for word in words:
    if len(word) > 5:
     words_more_than_5_letters.append(word)
     
print(words_more_than_5_letters)

['kkkkkk', 'mmmmmmmmmm']

In [108]:
numbers = [1, 64, 3, 100, 20, 23,11,333,1001,98]

smallest = numbers[0]
largest = numbers[0]

for number in numbers:
    if number < smallest:
        smallest = number
    if number > largest:
        largest = number
print(f'Największa liczba w liście {numbers} to: {largest}, a najmniejsza to:  {smallest}')

Największa liczba w liście [1, 64, 3, 100, 20, 23, 11, 333, 1001, 98] to: 1001, a najmniejsza to:  1

In [112]:
imiona1 = ['Franek','Kamil','Bartosz','Łukasz','Mateusz']
imiona2 = ['Tomek','Aga','Julia','Bartosz','Franek']

set(imiona1) & set(imiona2)
set(imiona1) - set(imiona2)

{'Kamil', 'Mateusz', 'Łukasz'}

In [130]:
country_and_capitals = {
    'Niemcy' : 'Berlin',
    'Polska' : 'Warszawa',
    'Hiszpania': 'Madryt',
    'Włochy': 'Rzym',
    'Anglia': 'Londyn'
}


# for country, capital in country_and_capitals.items():
#     print(f'{country} - {capital}')
    
country_and_capitals = dict(sorted(country_and_capitals.items()))
print(country_and_capitals)

for country, capital in country_and_capitals.items():
    print(f'{country} - {capital}')

{'Anglia': 'Londyn', 'Hiszpania': 'Madryt', 'Niemcy': 'Berlin', 'Polska': 'Warszawa', 'Włochy': 'Rzym'}
Anglia - Londyn
Hiszpania - Madryt
Niemcy - Berlin
Polska - Warszawa
Włochy - Rzym

In [139]:
text = input ("Napisz tekst: ")
words = text.split(" ")

words_count = {}

for word in words:
    if words_count.get(word) is not None:
      words_count[word] +=1
    else:
        words_count[word] = 1
print(words_count)


for word,count in words_count.items():
    print(f'{word}: {count}')
    print(f'{word}: {count}')

{'Jak': 1, 'sie': 2, 'xd': 1}
Jak: 1
sie: 2
xd: 1