In [16]:
#funkcje

def hello(name,age, last_name = None):
    print(f'Cześć {name}! Masz {age} lat')
    if last_name is not None:
     print(f'Masz na nazwisko: {last_name}')

    

hello('John',26)
hello(age = 35, name = 'Franczesco', last_name = 'Mauzer')

Cześć John! Masz 26 lat
Cześć Franczesco! Masz 35 lat
Masz na nazwisko: Mauzer

In [18]:
def strip_and_uppercase(text):
   return str(text).strip().upper()


text = '    jestem tekstem DO ZmianY'
text = strip_and_uppercase(text)
text

'JESTEM TEKSTEM DO ZMIANY'

In [21]:
countries_information = {}
countries_information['Polska'] = ('Warszawa', 38)
countries_information['Niemcy'] = ('Berlin',83)
countries_information['Francja'] = ('Paryż',57)

def print_country_information(country):
    print('Kraj: '+ country)
    print('Stolica: '+countries_information[country][0])
    print('Liczba mieszkańców '+str(countries_information[country][1]))
    
print_country_information('Francja')

Kraj: Francja
Stolica: Paryż
Liczba mieszkańców 57

In [25]:
#klasy

class User:
    def __init__(self,name,mail,age):
        self.name = name
        self.mail = mail
        self.age = age
        
    def print_info(self):
        print(self.name)
        print(self.mail)
        print(self.age)
        
    def is_male(self):
        if self.name.endswith('a'):
            return False
        return True    
        
user1 = User('Agniecha','Franz@programuj.com',26)   
user1.is_male()

False

In [94]:
# ZADANIA 2
# def add_numbers(a,b):
#     return a+b

# add_numbers(2,3)
 

def is_even(number):
    if number % 2 == 0:
        return True
    return False


def factorial(n):
    if n < 2:
        return 1
    else:
        return n* factorial(n-1)

def reverse_string(s):
    return s[::-1]

    
def is_polindrome(s):
    if s[::-1] == s[0::]:
        return True
    return False
    
def celsius_to_fahrenheit(c):
          f = c * (9/5) + 32
          return f
      
def fibonacci(n):
    if n == 0:
        return 0
    if n == 1:
        return 1
    else:
        return fibonacci(n-1)+fibonacci(n-2)
    
def infos(name,age):
    print(f'Nazywam się: {name}, mam {age} lat')    
    
def example_2_letters_text(s):
    return s[::2]

def example_numbers(number):
    if number > 0:
        return 1
    if number == 0:
        return 0
    if number < 0:
        return -1
    
def day_of_week(day):
    match day:  
     case 1:
         return 'Poniedziałek'
     case 2:
         return 'Wtorek'
     case 3:
         return 'Środa'
     case 4:
         return 'Czwartek'
     case 5:
         return 'Piątek'
     case 6:
         return 'Wtorek'
     case 7:
         return 'Poniedziałek'
     case _:
         return 'Nieprawidłowy dzień tygodnia'

0

In [6]:

def sum_of_two(zb1, zb2):
   print(set(zb1)+set(zb2))

sum_of_two(33,21)   
print(sum_of_two(33,21))

TypeError: 'int' object is not iterable