In [9]:
df = pd.DataFrame([[1,2,3], [4,5,6],[7,8,9]], columns=["A", "B", "C"], index=["x","y","z"])

In [10]:
df.describe()

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0

In [15]:
data = {
    'kolumna_1': [3, 2, 0, 1],
    'kolumna_2': [0, 3, 7, 2],
    'kolumna_3': [9, 9, 9, 9],
    'kolumna_4': [8, 8, 8, 8],
    'kolumna_5': [7, 7, 7, 7],
    'kolumna_6': [0, 3, 7, 2]
}
df = pd.DataFrame(data)
print(df)

   kolumna_1  kolumna_2  kolumna_3  kolumna_4  kolumna_5  kolumna_6
0          3          0          9          8          7          0
1          2          3          9          8          7          3
2          0          7          9          8          7          7
3          1          2          9          8          7          2

data = pd.read_csv('telecom_churn.csv)
print(data.info())

In [ ]:
import mathplotlib.pyplot as plt

def main():
 data = pd.read_csv('telecom_churn.csv')
 print(data.info())

ModuleNotFoundError: No module named 'mathplotlib'